# Chapter 2. Python Language Basics, IPython, and Jupyter Notebooks
## Yuhanh (Yuhan He) and Lhaase (Lara Haase)

In [1]:
print('Hello world')

Hello world

In [2]:
an_apple = 27

In [3]:
an_example = 42

In [4]:
an_apple

27

In [5]:
b = [1, 2, 3]

In [6]:
b.copy

In [7]:
import datetime
datetime.datetime

datetime.datetime

## 2.3 Python Language Basics

In [8]:
# try the commment function
print("Reached this line")  # Simple status report

Reached this line

### Variables and argument passing

In [9]:
a = [1, 2, 3]
b = a

In [10]:
a.append(4)

In [11]:
b

[1, 2, 3, 4]

In [12]:
# try to pass objects as arguments to a function
def append_element(some_list, element):
    some_list.append(element)

In [13]:
data = [1, 2, 3]

In [14]:
append_element(data, 4)

In [15]:
data

[1, 2, 3, 4]

### DYNAMIC REFERENCES, STRONG TYPES

In [16]:
a = 5

In [17]:
type(a)

int

In [18]:
a = 'foo'

In [19]:
type(a)

str

In [386]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [388]:
a = 4.5

In [389]:
b = 2

In [390]:
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [391]:
a/b

2.25

In [392]:
a = 5

In [393]:
isinstance(a, int)

True

In [394]:
a = 5; b = 4.5

In [395]:
isinstance(a, (int,  float))

True

In [396]:
isinstance(b, (int, float))

True

### ATTRIBUTES AND METHODS

In [397]:
a = 'foo'

In [398]:
getattr(a, 'split')

### DUCK TYPING

In [399]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [400]:
isiterable('a string')

True

In [401]:
isiterable([1,2,3])

True

In [402]:
isiterable(5)

False

### IMPORTS

In [403]:
import some_module
result = some_module.f(5)
pi = some_module.PI

ModuleNotFoundError: No module named 'some_module'

In [582]:
from some_module import f, g, PI
result = g(5, PI)

ModuleNotFoundError: No module named 'some_module'

In [583]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

ModuleNotFoundError: No module named 'some_module'

### BINARY OPERATORS AND COMPARISONS

In [584]:
5 - 7

-2

In [585]:
12 +21.5

33.5

In [586]:
a = [1, 2, 3]

In [587]:
b = a

In [588]:
c = list(a)

In [589]:
a is not c

True

In [590]:
a is b

True

In [591]:
a ==c

True

In [592]:
a = None

In [593]:
a is None

True

### MUTABLE AND IMMUTABLE OBJECTS

In [594]:
a_list = ['foo', 2, [4, 5]]

In [595]:
a_list[2] = (3, 4)

In [596]:
a_list

['foo', 2, (3, 4)]

In [597]:
a_tuple = (3, 5, (4, 5))

In [598]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### NUMERIC TYPES

In [778]:
ival = 1413241341

In [779]:
ival ** 6

7967058373271559125686629880029840109105218886677262041

In [780]:
fval = 1.324324

In [781]:
fval2 = 3.234e-5

In [782]:
3 / 2

1.5

In [783]:
3 // 2

1

### STRINGS

In [784]:
a = 'one way of writing a string'
b = "another way"

In [785]:
c = """I am trying
to write 
a very long string"""

In [786]:
c

'I am trying\nto write \na very long string'

In [787]:
c.count("\n")

2

In [788]:
a = 'this is a string'

In [789]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [790]:
b = a.replace('string', 'longer string')

In [791]:
b

'this is a longer string'

In [792]:
a

'this is a string'

In [793]:
a = 5.6

In [794]:
s = str(a)

In [795]:
print(s)

5.6

In [796]:
s = 'python'

In [797]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [798]:
s[:4]

'pyth'

In [799]:
s = '12\\34'

In [800]:
print(s)

12\34

In [801]:
s

'12\\34'

In [802]:
# preface the leading quote of the string with r,
# which means that the characters should be 
# interpreted as is

s = r'this\has\no\special\characters'

In [803]:
s

'this\\has\\no\\special\\characters'

In [804]:
a = 'this is the first half '

In [805]:
b = 'and this is the second half'

In [806]:
a + b

'this is the first half and this is the second half'

In [807]:
# {0:.2f} means to format the first argument as a floating-point number with two decimal places.
# {1:s} means to format the second argument as a string.
# {2:d} means to format the third argument as an exact integer.
template = '{0:.2f} {1:s} are worth US${2:d}'

In [808]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

### BYTES AND UNICODE

In [809]:
val = "español"

In [810]:
val

'español'

In [811]:
val_utf8 = val.encode('utf-8')

In [812]:
val_utf8

b'espa\xc3\xb1ol'

In [813]:
type(val_utf8)

bytes

In [814]:
val_utf8.decode('utf-8')

'español'

In [815]:
val.encode('latin1')

b'espa\xf1ol'

In [816]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [817]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [818]:
bytes_val = b'this is bytes'

In [819]:
bytes_val

b'this is bytes'

In [820]:
decoded = bytes_val.decode('utf8')

In [821]:
decoded

'this is bytes'

### BOOLEANS

In [822]:
True and True

True

In [823]:
False or True

True

### TYPE CASTING

In [824]:
s = '3.14159'

In [825]:
fval = float(s)

In [826]:
type(fval)

float

In [827]:
int(fval)

3

In [828]:
bool(fval)

True

In [829]:
bool(1)

True

### NONE

In [830]:
a = None

In [831]:
a is None

True

In [832]:
b = 5

In [833]:
b is not None

True

In [834]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result
add_and_maybe_multiply(1,2,3)

9

In [835]:
type(None)

NoneType

### DATES AND TIMES

In [836]:
from datetime import datetime, date, time

In [837]:
dt = datetime(2020, 1, 20, 20, 35, 21)

In [838]:
dt.day

20

In [839]:
dt.minute

35

In [840]:
dt.date()

datetime.date(2020, 1, 20)

In [841]:
dt.time()

datetime.time(20, 35, 21)

In [842]:
dt.strftime('%m/%d/%Y %H:%M')

'01/20/2020 20:35'

In [843]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [844]:
dt.replace(minute=0, second=0)

datetime.datetime(2020, 1, 20, 20, 0)

In [845]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [846]:
delta = dt2 - dt

In [847]:
delta

datetime.timedelta(days=-2988, seconds=6879)

In [848]:
type(delta)

datetime.timedelta

In [849]:
dt

datetime.datetime(2020, 1, 20, 20, 35, 21)

In [850]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

### IF, ELIF, AND ELSE

In [851]:
a = 5; b = 7

In [852]:
c = 8; d = 4;

In [853]:
if a < b or c > d:
    print("Made it!")

Made it!

In [854]:
4 > 3 > 2 > 1

True

### FOR LOOPS

In [855]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### WHILE LOOPS

In [856]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    print(total)

256
384
448
480
496
504

###  PASS

In [857]:
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

positive!

### RANGE

In [858]:
range(10)

range(0, 10)

In [859]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [860]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [861]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [862]:
list(range(5,0))

[]

In [863]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [864]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i
print(sum)

2333316668

### TERNARY EXPRESSIONS

In [865]:
x = 5

In [866]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

# Chapter 3. Built-in Data Structures, Functions, and Files

## 3.1 Data Structures and Sequences

### Tuple

In [867]:
tup = 4, 5, 6

In [868]:
tup

(4, 5, 6)

In [869]:
nested_tup = (4, 5, 6), (7, 8)

In [870]:
nested_tup

((4, 5, 6), (7, 8))

In [871]:
tuple([4, 0, 2])

(4, 0, 2)

In [872]:
tup = tuple('string')

In [873]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [874]:
tup[0]

's'

In [875]:
tup = tuple(['foo', [1, 2], True])

In [876]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [877]:
tup[1].append(3)

In [878]:
tup

('foo', [1, 2, 3], True)

In [879]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [880]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### UNPACKING TUPLES

In [881]:
tup = (4, 5, 6)

In [882]:
a, b, c = tup

In [883]:
b

5

In [884]:
tup = 4, 5, (6, 7)

In [885]:
a, b, (c, d) = tup

In [886]:
d

7

In [887]:
a, b = 1, 2

In [888]:
a

1

In [889]:
b

2

In [890]:
b, a = a, b

In [891]:
a

2

In [892]:
b

1

In [893]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [894]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [895]:
values = 1, 2, 3, 4, 5

In [896]:
a, b, *rest = values

In [897]:
a, b

(1, 2)

In [898]:
rest

[3, 4, 5]

In [899]:
a, b, *_ = values

In [900]:
_

[3, 4, 5]

### TUPLE METHODS

In [901]:
a = (1, 2, 2, 2, 3, 4, 2)

In [902]:
a.count(2)

4

### List

In [903]:
a_list = [2, 3, 7, None]

In [904]:
tup = ('foo', 'bar', 'baz')

In [905]:
b_list = list(tup)

In [906]:
b_list

['foo', 'bar', 'baz']

In [907]:
b_list[1] = 'peekaboo'

In [908]:
b_list

['foo', 'peekaboo', 'baz']

In [909]:
gen = range(10)

In [910]:
gen

range(0, 10)

In [911]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### ADDING AND REMOVING ELEMENTS

In [912]:
b_list.append('dwarf')

In [913]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [914]:
b_list.insert(1, 'red')

In [915]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [916]:
b_list.pop(2)

'peekaboo'

In [917]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [918]:
b_list.append('foo')

In [919]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [920]:
b_list.remove('baz')

In [921]:
b_list

['foo', 'red', 'dwarf', 'foo']

In [922]:
'dwarf' in b_list

True

In [923]:
'dwarf' not in b_list

False

### CONCATENATING AND COMBINING LISTS

In [924]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [925]:
x = [4, None, 'foo']

In [926]:
x.extend([7, 8, (2, 3)])

In [927]:
x

[4, None, 'foo', 7, 8, (2, 3)]

### SORTING

In [928]:
a = [7, 2, 5, 1, 3]

In [929]:
a.sort()

In [930]:
a

[1, 2, 3, 5, 7]

In [931]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [932]:
b.sort(key=len)

In [933]:
b

['He', 'saw', 'six', 'small', 'foxes']

### BINARY SEARCH AND MAINTAINING A SORTED LIST

In [934]:
import bisect

In [935]:
c = [1, 2, 2, 2, 3, 4, 7]

In [936]:
bisect.bisect(c, 2)

4

In [937]:
bisect.bisect(c, 5)

6

In [938]:
bisect.insort(c, 6)

In [939]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

### SLICING

In [940]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [941]:
seq[2:6]

[3, 7, 5, 6]

In [942]:
seq[3:4] = [2, 1]

In [943]:
seq

[7, 2, 3, 2, 1, 5, 6, 0, 1]

In [944]:
seq[:6]

[7, 2, 3, 2, 1, 5]

In [945]:
seq[4:]

[1, 5, 6, 0, 1]

In [946]:
seq[-4:]

[5, 6, 0, 1]

In [947]:
seq[-6: -3]

[2, 1, 5]

In [948]:
seq[::2]

[7, 3, 1, 6, 1]

In [949]:
seq[::-1]

[1, 0, 6, 5, 1, 2, 3, 2, 7]

### Built-in Sequence Functions

### ENUMERATE

In [950]:
some_list = ['foo', 'bar', 'baz']

In [951]:
mapping = {}

In [952]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [953]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### SORTED

In [954]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [955]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### ZIP

In [956]:
seq1 = ['foo', 'bar', 'baz']

In [957]:
seq2 = ['one', 'two', 'three']

In [958]:
zipped = zip(seq1, seq2)

In [959]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [960]:
seq3 = [False, True]

In [961]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [962]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1}, {2}'.format(i, a, b))

0:foo, one
1:bar, two
2:baz, three

In [963]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]

In [964]:
first_names, last_names = zip(*pitchers)

In [965]:
first_names

('Nolan', 'Roger', 'Schilling')

In [966]:
last_names

('Ryan', 'Clemens', 'Curt')

### REVERSED

In [967]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [968]:
empty_dict = {}

In [969]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [970]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [971]:
d1[7] = 'an integer'

In [972]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [973]:
'b' in d1

True

In [974]:
'c' in d1

False

In [975]:
d1[5] = 'some number'

In [976]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some number'}

In [977]:
d1['dummy'] = 'another value'

In [978]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some number',
 'dummy': 'another value'}

In [979]:
del d1[5]

In [980]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [981]:
ret = d1.pop('dummy')

In [982]:
ret

'another value'

In [983]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [984]:
list(d1.keys())

['a', 'b', 7]

In [985]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [986]:
d1.update({'b' : 'foo', 'c' : 12})

In [987]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### CREATING DICTS FROM SEQUENCES

In [988]:
mapping = dict(zip(range(5), reversed(range(5))))

In [989]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### DEFAULT VALUES

In [990]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [991]:
by_letter = {}

In [992]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [993]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [994]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [995]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [996]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### VALID DICT KEY TYPES

In [997]:
hash("string")

3752818274608074623

In [998]:
hash('string')

3752818274608074623

In [999]:
hash((1, 2, (2, 3)))

1097636502276347782

In [1000]:
hash((1, 2, [2, 3]))# fails because lists are mutable

TypeError: unhashable type: 'list'

In [1001]:
d = {}

In [1002]:
d[tuple([1, 2, 3])] = 5

In [1003]:
d

{(1, 2, 3): 5}

### set

In [1004]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [1005]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [1006]:
{2, 2, 2, 1, 3, 3, 4, 5, 6, 1, 2}

{1, 2, 3, 4, 5, 6}

In [1007]:
a = {1, 2, 3, 4, 5}

In [1008]:
b = {3, 4, 5, 6, 7, 8}

In [1009]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [1010]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [1011]:
a.intersection(b)

{3, 4, 5}

In [1012]:
a & b

{3, 4, 5}

In [1013]:
c = a.copy()

In [1014]:
c |= b

In [1015]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [1016]:
d = a.copy()

In [1017]:
d &= b

In [1018]:
d

{3, 4, 5}

In [1019]:
my_data = [1, 2, 3, 4]

In [1020]:
my_set = {tuple(my_data)}

In [1021]:
my_set

{(1, 2, 3, 4)}

In [1022]:
a_set = {1, 2, 3, 4, 5}

In [1023]:
{1, 2, 3}.issubset(a_set)

True

In [1024]:
a_set.issuperset({1, 2, 3})

True

In [1025]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

In [1026]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [1027]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [1028]:
unique_lengths = {len(x) for x in strings}

In [1029]:
unique_lengths

{1, 2, 3, 4, 6}

In [1030]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [1031]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### NESTED LIST COMPREHENSIONS

In [1032]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [1033]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [1034]:
result = [name for names in all_data for name in names
          if name.count('e')>= 2]

In [1035]:
result

['Steven']

In [1036]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [1037]:
flattened = [x for tup in some_tuples for x in tup]

In [1038]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1039]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

In [1040]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [1041]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [1042]:
my_function(3.14, 7, 3.5)

35.49

In [1043]:
my_function(10, 20)

45.0

In [1044]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [1045]:
a = None

In [1046]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [1047]:
print(a)

[]

### Returning Multiple Values

In [1048]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [1049]:
return_value = f()

In [1050]:
return_value

(5, 6, 7)

In [1051]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [1052]:
f()

{'a': 5, 'b': 6, 'c': 7}

### Functions Are Objects

In [1053]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [1054]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [1055]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [1056]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [1057]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [1058]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [1059]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [1060]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [1061]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [1062]:
strings.sort(key=lambda x: len(set(list(x))))

In [1063]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [1064]:
def add_numbers(x, y):
    return x + y

In [1065]:
add_five = lambda y: add_numbers(5, y)

In [1066]:
from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [1067]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [1068]:
for key in some_dict:
    print(key)

a
b
c

In [1069]:
dict_iterator = iter(some_dict)

In [1070]:
dict_iterator

In [1071]:
list(dict_iterator)

['a', 'b', 'c']

In [1072]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [1073]:
gen = squares()

In [1074]:
gen

In [1075]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### GENERATOR EXPRESSSIONS

In [1076]:
gen = (x ** 2 for x in range(100))

In [1077]:
gen

In [1078]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [1079]:
sum(x ** 2 for x in range(100))

TypeError: 'int' object is not callable

In [1080]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### ITERTOOLS MODULE

In [1081]:
 import itertools

In [1082]:
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [1083]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [1084]:
float('1.2345')

1.2345

In [1085]:
float('something')

ValueError: could not convert string to float: 'something'

In [1086]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [1087]:
attempt_float('1.2345')

1.2345

In [1088]:
attempt_float('something')

'something'

In [1089]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [1090]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [1091]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [1092]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [1093]:
attempt_float((1, 2))

(1, 2)

### EXCEPTIONS IN IPYTHON

In [1094]:
%run examples/ipython_bug.py

ERROR:root:File `'examples/ipython_bug.py'` not found.

## 3.3 Files and the Operating System

In [1095]:
path = 'segismundo.txt'

In [1096]:
f = open(path)

FileNotFoundError: [Errno 2] No such file or directory: 'segismundo.txt'

In [1097]:
for line in f:
    pass

TypeError: 'function' object is not iterable

In [1098]:
lines = [x.rstrip() for x in open(path)]

FileNotFoundError: [Errno 2] No such file or directory: 'segismundo.txt'

In [ ]:
lines

In [ ]:
f.close()

In [ ]:
f = open(path)

In [1099]:
f.read(10)

AttributeError: 'function' object has no attribute 'read'

In [1100]:
f2 = open(path, 'rb')  # Binary mode

FileNotFoundError: [Errno 2] No such file or directory: 'segismundo.txt'

In [1101]:
f2.read(10)

NameError: name 'f2' is not defined

In [1102]:
f.tell()

AttributeError: 'function' object has no attribute 'tell'

In [1103]:
f2.tell()

NameError: name 'f2' is not defined

In [1104]:
import sys
sys.getdefaultencoding()

'utf-8'

In [1105]:
f.seek(3)

AttributeError: 'function' object has no attribute 'seek'

In [1106]:
f.read(1)

AttributeError: 'function' object has no attribute 'read'

In [1107]:
f.close()

AttributeError: 'function' object has no attribute 'close'

In [1108]:
f2.close()

NameError: name 'f2' is not defined

### Bytes and Unicode with Files

In [1109]:
with open(path) as f:
    chars = f.read(10)

FileNotFoundError: [Errno 2] No such file or directory: 'segismundo.txt'

In [1110]:
chars

NameError: name 'chars' is not defined

In [1111]:
with open(path, 'rb') as f:
    data = f.read(10)

FileNotFoundError: [Errno 2] No such file or directory: 'segismundo.txt'

In [1112]:
data

[1, 2, 3, 4]

In [1113]:
data.decode('utf8')

AttributeError: 'list' object has no attribute 'decode'

In [1114]:
data[:5].decode('utf8')

AttributeError: 'list' object has no attribute 'decode'